{% extends 'base.html'%}

{% block head %}
<title>Edit Page</title>
{% endblock %}



{% block body%}
<h1>Edit Posts here</h1>

  <div class="wrapper-display">
    <!-- Form display  -->
    <div class="form-wrapper">
      <form action="/posts/edit/{{post.id}}" method="POST" class="uk-margin-top">
        <div class="uk-margin">
          <div class="uk-block">
            Title
            <input
              class="uk-input"
              name="title"
              id="title"
              type="text"
              value="{{post.title}}"
            />
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-block">
            <textarea
              placeholder="Enter Text"
              name="Content"
              class="uk-textarea"
              rows="3"
              placeholder="Textarea"
              
            >{{post.Content}}</textarea>
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-block">
            Author
            <input class="uk-input" name="Author" type="text" value="{{post.Author}}" />
          </div>
        </div>

        <div class="uk-margin" uk-margin>
          <button type="submit" class="uk-button uk-button-primary">
            Save Post
          </button>
        </div>
      </form>

      <!-- End of Form display  -->
    </div>

{% endblock  %}
